// ОБЩИЕ ПАРАМЕТРЫ
body {
    min-width: 320px;
    color: $text-color;
    font-family: $fontFamily;
    font-size: 14px;
    overflow-x: hidden;
    position: relative;
    &._lock{
        overflow: hidden;
    }
}

.page {
    flex: 1 1 auto;
}